.vscode
Assembly Injection (x86)/bin
Assembly Injection (x86)/build
Assembly Injection (x86)/asm
Assembly Injection (x86)/test/bin
Assembly Injection (x86)/test/build
Assembly Injection (x86)/test/asm
Assembly Injection (x64)/bin
Assembly Injection (x64)/build
Assembly Injection (x64)/asm
Assembly Injection (x64)/test/bin
Assembly Injection (x64)/test/build
Assembly Injection (x64)/test/asm
I-O/bin
I-O/build
I-O/asm
I-O/test/bin
I-O/test/build
I-O/test/asm
System Utilities/bin
System Utilities/build
System Utilities/asm
System Utilities/test/bin
System Utilities/test/build
System Utilities/test/asm